<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    /* Add your custom styles here */
  </style>
</head>
<body>

<h1 align="center">Welcome to Dairy</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-5">
      <%= image_tag("https://www.shutterstock.com/image-vector/indian-milk-man-cow-vector-260nw-2332049441.jpg", width: 350, height: 450) %>
    </div>
    <div class="col-lg-8">
      <div class="card-body py-5 px-md-5 mt-5">
        <%= form_tag do %>
          <!-- Email input -->
          <div class="form-group">
            <label for="form2Example1">Admin Login</label>
            <%= text_field_tag 'email', nil, class: 'form-control' %>
          </div>

          <!-- Password input -->
          <div class="form-group">
            <label for="form2Example2">Password</label>
            <%= password_field_tag 'password', nil, class: 'form-control' %>
          </div>

          <!-- Checkbox and Forgot password link -->
          <div class="form-group form-check">
            <%= check_box_tag 'remember_me', '1', true, class: 'form-check-input', id: 'form2Example31' %>
            <label class="form-check-label" for="form2Example31">Remember me</label>
          </div>
          <%= link_to 'Forgot password ?', '#' %>

          <!-- Submit button -->
          <%= submit_tag 'Sign in', class: 'btn btn-primary btn-block mt-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
