

<div class="col-lg-12">
<%= flash[:notice] %>
<div class="card rounded-0 mt-5">
  <div class="card-body ">
    <h2 class="text-center">Listing Product Bills</h2>
  </div>
</div>

<%= link_to "Create New Product Bill", new_product_bill_path, class: "btn btn-primary btn-lg mt-3 mb-3 rounded-0" %>

<table class="table table-bordered ">
  <thead >
    <tr>
      <th>Product Bill id</th>
      <th>Produc Bill date</th>
      <th>Product Name</th>
      <th>Product Id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @product_bills.each do |product_bill| %>
    <tr>
        <td><%= product_bill.id%></td>
        <td><%= product_bill.product_date%></td>
       <td><%= product_bill.product_name%></td>
        <td><%= product_bill.product_id%></td>
        <td>
        <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button"
         data-bs-toggle="dropdown" aria-expanded="false">
            Actions
         </button>
         <ul class="dropdown-menu">
          <li><%= link_to "Edit" , edit_product_bill_path(product_bill), class: "dropdown-item"%></li>
          <li><%= link_to "View" , product_bill_path(product_bill), class: "dropdown-item"%></li>
          <li><%= link_to "Delete", product_bill_path(product_bill), class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure to delete this product?' } %></li>
        </ul>
        </div>

      </td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>
