<div class="col-lg-12">
<div class="card rounded-0 mt-5">
  <div class="card-body ">
    <h2 class="text-center">Product Bill Detail</h2>
  </div>
</div>

      <div class="col-lg-4 mt-3">
        <div class="form-group">
         <p class="lead"><strong>Product Bill Date : </strong><%= @product_bill.product_date%>

        </div>
      </div>


    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <p class="lead"><strong>Product Name  : </strong><%= @product_bill.product.product_name%>

        </div>
      </div>
    </div>


      <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <p class="lead"><strong>Product Stock : </strong><%= @product_bill.product_stock%>

        </div>
      </div>
    </div>
 <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <p class="lead"><strong>Product Unit : </strong><%= @product_bill.product_unit%>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4">

        <%= link_to "Back to Product Bill", product_bills_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>
        <%= link_to "Edit Product Bill", edit_product_bill_path, class: "btn btn-primary btn-lg mt-3 mb-3 rounded-0" %>

      </div>
    </div>
  </div>

</div>
</div>