<!-- Set data-item-id on an element -->

  <!-- Add the JavaScript code -->
 <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Your script -->


<%= form_for bill do |form| %>
  <div class="row">
     <div class="col-lg-4">
           <div class="form-group">
                <%= form.label :customer_id, class: 'mb-2' %>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer_name, { prompt: 'Select customer' }, class: 'form-select form-select-lg rounded-0' %>

           </div>
     </div>
  </div>
 <br>
  <div class="row">
      <div class="col-lg-3">
        <div class="form-group mb-2">
           <%= form.label :bill_date, class: 'mb-2' %>
           <%= form.date_field :bill_date, class: 'form-control form-control-lg rounded-0' %>


        </div>
      </div>
  </div>
  <br>

    <%= form.fields_for :items do |item| %>
    <div class="fields">
      <%= item.label :product_id, 'Select Product' %>
      <%= item.collection_select :product_id, Product.all, :id, :product_name, { prompt: 'Please Select product' }, { id: 'product_select' } %>
      <div id="product_attributes" style="display: none;">
        <table class="table table-bordered">
          <tr>
            <th width="10%">Item</th>
            <th width="10%">Rate</th>
            <th width="10%">Unit</th>
            <th width="10%">Weight</th>
            <th width="10%">Amount</th>
          </tr>
          <tr>
            <td><span id="product_name"></span></td>
            <td><span id="product_rate" ></span></td>
            <td><span id="product_unit"></span></td>
            <td>
              <%= item.text_field :weight, id: 'weight', class: 'form-control' , default_value: 1 %>
              <br>
              <button type="button" onclick="calculateAmount(this)">Calculate</button>
            </td>
            <td>
              <%= item.text_field :amount, id: "amount_#{item.object_id}" %>
              <span id="result"></span>
           </td>
          </tr>
        </table>
      </div>
    </div>

  <% end %>




  <div>
    <%= link_to_add_association 'add product', form, :items %>
  </div>



  <div class="row">
        <div class="col-lg-12 mb-4">
          <%= form.submit class: 'btn btn-primary rounded-0 btn-lg'%>
          <%= link_to "Back to Bill ", bills_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>

        </div>
      </div>
  </div>

<% end %>
