<%= form_for bill do |form| %>
  <div class="row">
     <div class="col-lg-4">
           <div class="form-group">
                <%= form.label :customer_id, class: 'mb-2' %>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer_name, { prompt: 'Select customer' }, class: 'form-select form-select-lg rounded-0' %>

           </div>
     </div>
  </div>
 <br>
  <div class="row">
      <div class="col-lg-3">
        <div class="form-group mb-2">
           <%= form.label :bill_date, class: 'mb-2' %>
           <%= form.date_field :bill_date, class: 'form-control form-control-lg rounded-0' %>


        </div>
      </div>

    </div>

  <%= form.fields_for :items do |item| %>

    <%= render 'item_fields', f: item  %>

  <% end %>
  <div>
    <%= link_to_add_association 'add product', form, :items %>
  </div>



  <div class="row">
        <div class="col-lg-12 mb-4">
          <%= form.submit class: 'btn btn-primary rounded-0 btn-lg'%>
          <%= link_to "Back to Bill ", bills_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>

        </div>
      </div>
  </div>

<% end %>
