<%= form_for bill do |form| %>
  <div class="row">
     <div class="col-lg-4">
           <div class="form-group">
                <%= form.label :customer_id, class: 'mb-2' %>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer_name, { prompt: 'Select customer' }, class: 'form-select form-select-lg rounded-0' %>
           <!---     <% if bill.errors.full_messages_for(:customer_id).present? %>
                  <% bill.errors.full_messages_for(:customer_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>-->
           </div>
     </div>
  </div>
 <br>
  <div class="row">
      <div class="col-lg-3">
        <div class="form-group mb-2">
           <%= form.label :bill_date, class: 'mb-2' %>
           <%= form.date_field :bill_date, class: 'form-control form-control-lg rounded-0' %>
          <!---   <% @bill.errors.full_messages_for(:bill_date).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>-->

        </div>
      </div>
    </div>

 <%= form.fields_for :items do |item| %>
  <div class="row">
    <div class="col-lg-3">
           <div class="form-group">
                <%= item.label :product_id, class: 'mb-2 mt-2' %>
                <%= item.collection_select :product_id, Product.all, :id, :product_name, { prompt: 'Select product' }, { class: 'form-select form-select-lg rounded-0'} %>
               <!---   <% if bill.errors.full_messages_for(:id).present? %>
                  <% bill.errors.full_messages_for(:id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>-->
           </div>

      </div>

  <div class="col-lg-2">
           <div class="form-group">
                <%= item.label :unit, class: 'mb-2 mt-2' %>
                <%= item.collection_select :product_id, Product.all, :id, :unit, { prompt: 'Select unit' }, class: 'form-select form-select-lg rounded-0' %>
           </div>
     </div>

  <div class="col-lg-2">
    <div class="form-group">
      <%= item.label :weight, class: 'mb-2 mt-2' %>
      <%= item.number_field :weight, class: 'form-control form-control-lg rounded-0' %>
      <!--- <% @bill.errors.full_messages_for(:quantity).each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>-->
    </div>
  </div>

    <div class="col-lg-3">
        <div class="form-group">
           <%= item.label :amount, class: 'mb-2 mt-2' %>
           <%= item.number_field :amount, class: 'form-control form-control-lg rounded-0' %>
           <!---  <% @bill.errors.full_messages_for(:amount).each do|message| %>
           <p class="text-danger"><%=message%></p>
           <%end%>-->
        </div>
  </div>
<% end %>
  </div>
<br>
  <%= submit_tag 'Add Product +', class: 'btn btn-danger mb-3 rounded-0' %>


 <div class="row">
      <div class="col-lg-12 mb-4">
        <%= form.submit class: 'btn btn-primary rounded-0 btn-lg'%>
        <%= link_to "Back to Bill ", bills_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>

      </div>
    </div>
</div>

<% end %>
