
<div class = "nested-fields">

  <%= f.label :product_id, 'Select Product' %>
  <%= f.collection_select :product_id, Product.all, :id, :product_name, { prompt: 'Please Select product' }, { id: 'product_select' } %>

  <div class="product_attributes" style="display: none;">
    <table class = "table table-striped">
      <tr>
        <th width="10%">Item</th>
        <th width="10%">Rate</th>
        <th width="10%">Unit</th>
        <th width="10%">Weight</th>
        <th width="10%">Amount</th>
      </tr>
      <tr>
        <td><span class="product_name"></span></td>
        <td><span class="product_rate"></span></td>
        <td><span class="product_unit"></span></td>
        <td><%= f.text_field :weight, placeholder: "Weight",size:"10" %></td>
        <td><%= f.text_field :amount, placeholder:"Amount", size:"10",  readonly: true %></td>

      </tr>
    </table>
       <%= link_to_remove_association 'Remove Item', f , class: "link-body-emphasis" %>
   </div>

  </div>
</div>