

<div class="col-lg-12">
<div class="card rounded-0 mt-5">
  <div class="card-body ">
    <h2 class="text-center">Bill Detail</h2>
  </div>
</div>

      <div class="col-lg-4 mt-3">
        <div class="form-group">
         <p class="lead"><strong>Bill Date : </strong><%= @bill.bill_date%>

        </div>
      </div>


    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <p class="lead"><strong>Customer Name  : </strong><%= @bill.customer.customer_name%></p>
        </div>
      </div>
    </div>

     <div class="row">
      <div class="col-lg-4">
       <div class="form-group">
          <p class="lead"><strong>Product Name:</strong><%= @bill.product.product_name%></p>

       </div>
    </div>

    </div>



      <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <p class="lead"><strong>Quantity : </strong><%= @bill.quantity%>
        </div>
      </div>
    </div>
 <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <p class="lead"><strong>Amount : </strong><%= @bill.amount%> rs

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4">

        <%= link_to "Back to Bills", bills_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>
         <span style="padding-left: 10px;"> </span>
        <%= link_to "Edit Bill", edit_bill_path, class: "btn btn-primary btn-lg mt-3 mb-3 rounded-0" %>
         <span style="padding-left: 600px;"> </span>
        <%= link_to "Download", bill_path(@bill, format: :pdf), class: "btn btn-outline-danger btn-lg mt-3 mb-3 rounded-0" %>

      </div>
    </div>
  </div>


</div>
</div>