 <%= form_for customer do |form| %>
    <div class="row">

       <% if @customer.errors.any? %>
          <div class="col-lg-12">
            <p class="lead">Please fix errors below</p>
          </div>
      <%end%>
      <div class="col-lg-4">
        <div class="form-group">
           <%= form.label :customer_name, class: 'mb-2' %>
           <%= form.text_field :customer_name, class: 'form-control form-control-lg rounded-0' %>
           <% @customer.errors.full_messages_for(:customer_name).each do|message| %>
           <p class="text-danger"><%=message%></p>
           <%end%>
        </div>
      </div>
   </div>
     <br>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
           <%= form.label :customer_address, class: 'mb-2' %>
           <%= form.text_field :customer_address, class: 'form-control form-control-lg rounded-0' %>
           <% @customer.errors.full_messages_for(:customer_address).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>
        </div>
      </div>
    </div>
      <br>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
           <%= form.label :Date, class: 'mb-2' %>
           <%= form.date_field :customer_dateofjoining, class: 'form-control form-control-lg rounded-0' %>
           <% @customer.errors.full_messages_for(:customer_dateofjoining).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>
        </div>
      </div>
    </div>
     <br>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
           <%= form.label :customer_contact, class: 'mb-2' %>
           <%= form.text_field :customer_contact, class: 'form-control form-control-lg rounded-0 mb-5',type: 'number' %>
           <% @customer.errors.full_messages_for(:customer_contact).each do|message| %>
           <p class="text-danger"><%=message%></p>
           <%end%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4">

        <%= form.submit class: 'btn btn-primary rounded-0 btn-lg'%>
        <%= link_to "Back to Customer", customers_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>
      </div>
    </div>
  </div>
  <%end%>