<div class="col-lg-12">
  <% flash[:notice] %>

  <div class="card rounded-0 mt-5">
    <div class="card-body">
      <h2 class="text-center">Listing Customers</h2>
    </div>
  </div>

  <%= link_to "Create New Customer", new_customer_path, class: "btn btn-primary btn-lg mt-3 mb-3 rounded-0" %>

  <div class="row">
    <div class="col mb-3">
     <%= form_tag(customers_path, method: :get, class: 'form-inline') do %>
     <div>
         <%= text_field_tag :query, params[:query], class: 'form-control', style: 'width: 311px;', placeholder: "Search.." %>
         <%= select_tag :search_by, options_for_select(['Select Option','Customer Name', 'Customer Address', 'Date of Joining', 'Contacts'], params[:search_by]) %>
         <%= submit_tag "Search", class: 'btn btn-success mt-3 mb-3' %>
         <%= link_to "Reset", customers_path, class: 'btn btn-outline-secondary mt-3 mb-3' %>
    </div>
   <% end %>
  </div>
 </div>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th ><button id="sort-button" class="sort-button">Name <span class="sort-indicator"></span></button></th>
        <th>Address</th>
        <th>Date of Joining</th>
        <th>Contacts</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.customer_name %></td>
          <td><%= customer.customer_address %></td>
          <td><%= customer.customer_dateofjoining %></td>
          <td><%= customer.customer_contact %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-turbolinks="false">
                Actions
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit", edit_customer_path(customer), class: "dropdown-item" %></li>
                <li><%= link_to "View", customer_path(customer), class: "dropdown-item" %></li>
                <li>
                  <%= link_to "Delete", customer_path(customer), class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure to delete this customer?' } %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= raw pagy_nav(@pagy) %>
