<%= form_for bill_manager do |form| %>
  <div class="row">
     <div class="col-lg-4">
           <div class="form-group">
                <%= form.label :customer_id, class: 'mb-2' %>
                <%= form.collection_select :customer_id, Customer.all, :id, :customer_name, { prompt: 'Select customer' }, class: 'form-select form-select-lg rounded-0' %>
                <% if bill_manager.errors.full_messages_for(:customer_id).present? %>
                  <% bill_manager.errors.full_messages_for(:customer_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>
           </div>
     </div>
  </div>
 <br>
  <div class="row">
      <div class="col-lg-3">
        <div class="form-group mb-2">
           <%= form.label :bill_date, class: 'mb-2' %>
           <%= form.date_field :bill_date, class: 'form-control form-control-lg rounded-0' %>
           <% @bill_manager.errors.full_messages_for(:bill_date).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>
        </div>
      </div>
    </div>


  <div class="row">
  <div class="col-lg-3">
  <div class="form-group mb-2 rounded-0">
    <%= label_tag 'select_option', 'Product', class:'mb-2' %>
    <%= select_tag 'select_option', options_for_select(['Milk', 'Paneer', 'Butter','Curd','Butter Milk','Mawa'], params[:select_option]), class: 'form-control' %>
  </div>
  </div>




 <br>
   <div class="col-lg-3">
        <div class="form-group">
           <%= form.label :quantity, class: 'mb-2' %>
           <%= form.text_field :quantity, class: 'form-control form-control-lg rounded-0' %>
           <% @bill_manager.errors.full_messages_for(:quantity).each do|message| %>
           <p class="text-danger"><%=message%></p>
           <%end%>
        </div>
  </div>
    <div class="col-lg-3">
        <div class="form-group">
           <%= form.label :amount, class: 'mb-2' %>
           <%= form.text_field :amount, class: 'form-control form-control-lg rounded-0' %>
           <% @bill_manager.errors.full_messages_for(:amount).each do|message| %>
           <p class="text-danger"><%=message%></p>
           <%end%>
        </div>
  </div>

  </div>

<br>

  <%= submit_tag 'Add Product +', class: 'btn btn-danger mb-3 rounded-0' %>
  <br>

  <%= submit_tag 'Submit', class: 'btn btn-primary mb-3 rounded-0' %>
  <%= submit_tag 'Reset', class: 'btn btn-primary mb-3 rounded-0' %>


</div>

<% end %>
