

<div class="col-lg-12">
<%= flash[:notice] %>
<div class="card rounded-0 mt-5">
  <div class="card-body ">
    <h2 class="text-center">Listing Bills</h2>
  </div>
</div>
<%= link_to "Create New Bill", new_bill_manager_path, class: "btn btn-primary btn-lg mt-3 mb-3 rounded-0" %>
</div>
<table class="table table-bordered ">
  <thead >
    <tr>
      <th>Bill.id</th>
      <th>Bill date</th>
      <th>Customer Name</th>
      <th>Customer Id</th>
      <th>Actions</th>
    </tr>
  <thead>
  <tbody>
    <% @bill_managers.each do |bill_manager| %>

      <tr>
        <td><%= bill_manager.id%></td>
        <td><%= bill_manager.bill_date%></td>
        <td><%= bill_manager.customer.customer_name%></td>
        <td><%= bill_manager.customer_id%></td>
        <td>
        <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button"
         data-bs-toggle="dropdown" aria-expanded="false">
            Actions
         </button>

       </div>

      </td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>
