
<%= form_for item do |form| %>
  <div class="row">
  <div class="col-lg-2  ">
           <div class="form-group ">
                <%= form.label :bill_no, class: 'mb-2' %>
                <%= form.collection_select :bill_id, Bill.all, :id, :id, { prompt: 'Select Bill' }, class: 'form-select form-select-lg rounded-0 mb-5' %>
                <% if item.errors.full_messages_for(:bill_id).present? %>
                  <% item.errors.full_messages_for(:bill_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>
           </div>
     </div>
     <div class="col-lg-3 mb-3">
           <div class="form-group">
           <%= form.label :item_date, class: 'mb-2' %>
           <%= form.date_field :product_date, class: 'form-control form-control-lg rounded-0' %>
           <% @item.errors.full_messages_for(:product_date).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>
        </div>
      </div>

  <div class="row">
     <div class="col-lg-2">
           <div class="form-group">
                <%= form.label :item_id, class: 'mb-2 mt-2' %>
                <%= form.collection_select :product_id, Product.all, :id, :product_name, { prompt: 'Select product' }, class: 'form-select form-select-lg rounded-0' %>
                <% if item.errors.full_messages_for(:product_id).present? %>
                  <% item.errors.full_messages_for(:product_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>
           </div>
     </div>

     <div class="col-lg-2">
           <div class="form-group">
                <%= form.label :item_rate, class: 'mb-2 mt-2' %>
                <%= form.collection_select :product_id, Product.all, :id, :product_rate, { prompt: 'Select rate' }, class: 'form-select form-select-lg rounded-0' %>
                <% if item.errors.full_messages_for(:product_id).present? %>
                  <% item.errors.full_messages_for(:product_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>
           </div>
     </div>
<div class="col-lg-3">
           <div class="form-group">
                <%= form.label :item_weight, class: 'mb-2 mt-2' %>
                <%= form.collection_select :bill_id, Bill.all, :id, :weight, { prompt: 'Select weight' }, class: 'form-select form-select-lg rounded-0' %>

           </div>
     </div>


       <div class="col-lg-2">
           <div class="form-group">
                <%= form.label :item_unit, class: 'mb-2 mt-2' %>
                <%= form.collection_select :product_id, Product.all, :id, :unit, { prompt: 'Select unit' }, class: 'form-select form-select-lg rounded-0' %>

           </div>
     </div>


       <div class="col-lg-2">
           <div class="form-group">
                <%= form.label :item_amount, class: 'mb-2 mt-2' %>
                <%= form.collection_select :bill_id, Bill.all, :id, :amount, { prompt: 'Select Amount' }, class: 'form-select form-select-lg rounded-0 mb-3' %>

           </div>
     </div>
  </div>

<br>


<br>

<div class="row">
      <div class="col-lg-12 mb-4">
      <%= submit_tag 'Add Product +', class: 'btn btn-danger mb-3 rounded-0' %>
      <br>
        <%= form.submit class: 'btn btn-primary rounded-0 btn-lg'%>
        <%= link_to "Back to Items", items_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>

      </div>
    </div>



</div>

<% end %>
