
<%= form_for item do |form| %>
  <div class="row">
     <div class="col-lg-3 mb-3">
           <div class="form-group">
           <%= form.label :product_date, class: 'mb-2' %>
           <%= form.date_field :product_date, class: 'form-control form-control-lg rounded-0' %>
           <% @item.errors.full_messages_for(:product_date).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>
        </div>
      </div>

  <div class="row">
     <div class="col-lg-3">
           <div class="form-group">
                <%= form.label :product_id, class: 'mb-2' %>
                <%= form.collection_select :product_id, Product.all, :id, :product_name, { prompt: 'Select product' }, class: 'form-select form-select-lg rounded-0' %>
                <% if item.errors.full_messages_for(:product_id).present? %>
                  <% item.errors.full_messages_for(:product_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>
           </div>
     </div>

     <div class="col-lg-2">
           <div class="form-group">
                <%= form.label :product_rate, class: 'mb-2' %>
                <%= form.collection_select :product_id, Product.all, :id, :product_rate, { prompt: 'Select rate' }, class: 'form-select form-select-lg rounded-0' %>
                <% if item.errors.full_messages_for(:product_id).present? %>
                  <% item.errors.full_messages_for(:product_id).each do |message| %>
                    <p class="text-danger"><%= message %></p>
                  <% end %>
                <% end %>
           </div>
     </div>

      <div class="col-lg-2">
        <div class="form-group mb-2">
           <%= form.label :product_stock, class: 'mb-2' %>
           <%= form.number_field :product_stock,  class: 'form-control form-control-lg rounded-0' %>
           <% @item.errors.full_messages_for(:product_stock).each do|message| %>
           <p class="text-danger"><%=message%></p>
          <%end%>
        </div>
      </div>



   <div class="col-lg-2">
        <div class="form-group ">
            <%= form.label :product_unit, class: 'mb-2' %>
             <%= form.select :product_unit, options_for_select(['ltr', 'gm', 'kg','per']), class: 'form-control form-control-lg rounded-0' %>

        </div>
  </div>



 </div>
  </div>

  <br>

<div class="row">
      <div class="col-lg-12 mb-4">
        <%= form.submit class: 'btn btn-primary rounded-0 btn-lg'%>
        <%= link_to "Back to Items", items_path, class: "btn btn-outline-primary btn-lg mt-3 mb-3 rounded-0" %>

      </div>
    </div>



</div>

<% end %>
